* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #f8f8f8, #e8e8e8) no-repeat;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 600px;
  min-height: 400px;
  background-color: rgb(218, 195, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__icons {
    display: flex;
    gap: 30px;
  }
}
