*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e8e8e8)) no-repeat;
  background:linear-gradient(to bottom, #f8f8f8, #e8e8e8) no-repeat;
}

.main{
  min-height:100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.container{
  min-width:600px;
  min-height:400px;
  background-color:rgb(218, 195, 246);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:30px;
}
.container__icons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:30px;
}

.icons__square{
  -webkit-animation:change-size 2s ease-in-out infinite alternate;
          animation:change-size 2s ease-in-out infinite alternate;
  width:96px;
  height:96px;
}

@-webkit-keyframes change-size{
  0%{
    -webkit-transform:scaleY(1);
            transform:scaleY(1);
    -webkit-transform-origin:0 0;
            transform-origin:0 0;
  }
  100%{
    -webkit-transform:scaleY(0.564);
            transform:scaleY(0.564);
    -webkit-transform-origin:2px 2px;
            transform-origin:2px 2px;
  }
}

@keyframes change-size{
  0%{
    -webkit-transform:scaleY(1);
            transform:scaleY(1);
    -webkit-transform-origin:0 0;
            transform-origin:0 0;
  }
  100%{
    -webkit-transform:scaleY(0.564);
            transform:scaleY(0.564);
    -webkit-transform-origin:2px 2px;
            transform-origin:2px 2px;
  }
}
.icons__rect{
  stroke:#c546fc;
  -webkit-animation:change-stroke 2s ease-in-out infinite alternate;
          animation:change-stroke 2s ease-in-out infinite alternate;
}

@-webkit-keyframes change-stroke{
  0%{
    stroke:#c546fc;
  }
  50%{
    stroke:#843ffb;
  }
  100%{
    stroke:#3f5efb;
  }
}

@keyframes change-stroke{
  0%{
    stroke:#c546fc;
  }
  50%{
    stroke:#843ffb;
  }
  100%{
    stroke:#3f5efb;
  }
}
.icons__circle{
  -webkit-animation:change-size 2s ease-in-out infinite alternate;
          animation:change-size 2s ease-in-out infinite alternate;
}

@keyframes change-size{
  0%{
    -webkit-transform:scaleY(1);
            transform:scaleY(1);
    -webkit-transform-origin:0 0;
            transform-origin:0 0;
  }
  100%{
    -webkit-transform:scaleY(0.564);
            transform:scaleY(0.564);
    -webkit-transform-origin:2px 2px;
            transform-origin:2px 2px;
  }
}
.icons__ellipse{
  stroke:#c546fc;
  -webkit-animation:change-stroke 2s ease-in-out infinite alternate;
          animation:change-stroke 2s ease-in-out infinite alternate;
}

@keyframes change-stroke{
  0%{
    stroke:#c546fc;
  }
  50%{
    stroke:#843ffb;
  }
  100%{
    stroke:#3f5efb;
  }
}